/*@import url('https://v1.fontapi.ir/css/Yekan');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #231f20;
}

@font-face {
    font-family: "Yekan";
    src: url('./assets/font/Yekan.woff') format('woff'),
    url('./assets/font/Yekan.woff2') format('woff2');
    font-display: swap;
}

.mantine-1qw5r5d>thead>tr>th:last-of-type, .mantine-1qw5r5d>tbody>tr>td:last-of-type{
  border-right: 0.0625rem solid #dee2e6;
}

.mantine-1uskmy4{
    color: #231f20;
}

/*.muirtl-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {*/
/*    font-family: Poppins;*/
/*}*/

.mantine-1qw5r5d>thead>tr>th, .mantine-1qw5r5d>tbody>tr>td{
    border-top: 0.0625rem solid #dee2e6;
}

.mantine-1fzet7j{
    font-family: "Yekan";
    font-size: 15px;
}

.mantine-3dhyzu{
    font-family: "Yekan";
}

.mantine-2udo7l{
    font-family: "Yekan";
}

/*.muirtl-138poq7-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition:not(.MuiDateRangeCalendar-dayDragging) .MuiDateRangePickerDay-dayOutsideRangeInterval{*/
/*    font-family: Poppins, sans-serif;*/
/*}*/


/*.mantine-wxitg4[data-active],.mantine-wxitg4[data-active]:not([data-disabled]):hover{*/
/*  background-color: #ed1c24;*/
/*}*/


/*.mantine-1cn2mlo:focus, .mantine-1cn2mlo:focus-within{*/
/*  border-color: #ed1c24;*/
/*}*/

/*.mantine-1fzet7j{*/
/*  display: none;*/
/*}*/

/*.mantine-3dhyzu{*/
/*    display: none;*/
/*}*/

/*.MuiTypography-root{*/
/*    display: none;*/
/*}*/


/*.mantine-895api:not([data-disabled]):hover{*/
/*    background-color: #ed1c24;*/
/*    color: #fff;*/
/*}*/


/* .mantine-z650ba{
  padding: '80px' ;
} */
/*.mantine-TableHeadCell-Content-Wrapper, .mantine-sbksmd{*/
/*    font-family: "Yekan","Poppins" ,sans-serif !important;*/
/*}*/
