@import url('https://v1.fontapi.ir/css/Yekan');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Yekan, sans-serif;
    font-style: normal;
    color: #2D3142;
  }

.mantine-1qw5r5d>thead>tr>th:last-of-type, .mantine-1qw5r5d>tbody>tr>td:last-of-type{
  border-right: 0.0625rem solid #dee2e6;
}

/*.mantine-wxitg4[data-active],.mantine-wxitg4[data-active]:not([data-disabled]):hover{*/
/*  background-color: #ed1c24;*/
/*}*/


/*.mantine-1cn2mlo:focus, .mantine-1cn2mlo:focus-within{*/
/*  border-color: #ed1c24;*/
/*}*/

.mantine-1fzet7j{
  display: none;
}

/*.mantine-3dhyzu{*/
/*    display: none;*/
/*}*/

/*.MuiTypography-root{*/
/*    display: none;*/
/*}*/

/*.mantine-895api:not([data-disabled]):hover{*/
/*    background-color: #ed1c24;*/
/*    color: #fff;*/
/*}*/


/* .mantine-z650ba{
  padding: '80px' ;
} */
